apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: keycloak-cluster
spec:
  instances: 1

  bootstrap:
    initdb:
      database: keycloak
      owner: keycloak
  storage:
    size: 5Gi