apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: nextcloud-cluster
spec:
  instances: 1

  bootstrap:
    initdb:
      database: nextcloud
      owner: nextcloud
  storage:
    size: 10Gi